{% load static %}

{% for lesson in lessons %}
  <div class="card mb-4">
    <img class="card-img-top" src="{{ lesson.image.url }}" alt="Card image cap" width="100px">
    <div class="card-body">
      <h2 class="card-title">{{ lesson.title }}</h2>
      <p class="card-text">{{ lesson.content|safe }}</p>
      <a href="{{ lesson.get_absolute_url }}" class="btn btn-primary">Читать</a>
    </div>
    <div class="card-footer text-muted">
      {{ lesson.date }} &nbsp; &nbsp;
      <img src="{% static 'images/views.png' %}" height="25px"> {{ lesson.count }} &nbsp; &nbsp;
      {% if user.is_authenticated %}
        {% if lesson.id|stringformat:"s" in request.COOKIES %}
          <a href="{% url 'tutorial:remove_like' lesson.id %}">
            <img src="{% static 'images/liked.png' %}" height="18px"></a>
        {% else %}
          <a href="{% url 'tutorial:add_like' lesson.id %}">
            <img src="{% static 'images/liked.png' %}" height="18px"></a>
        {% endif %}
      {% else %}
        <img src="{% static 'images/liked.png' %}" height="18px">
      {% endif %}
      {{ lesson.likes }}
    </div>
  </div>
{% endfor %}